
body {
    background: none repeat scroll 0 0 #e3e5e9;
    margin: 0;
    padding: 0;
}
#comingsoon {
    height: 100%;
    position: absolute;
    width: 100%;
}
#comingsoon table {
    height: 100%;
    width: 100%;
}
#comingsoon table tr {
    height: 100%;
    width: 100%;
}
#comingsoon table tr td {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
