
@font-face {font-family: 'Avenir-Heavy';src: url('webfonts/avenirltstd-heavy.eot');src: url('webfonts/avenirltstd-heavy.eot?#iefix') format('embedded-opentype'),url('webfonts/avenirltstd-heavy.woff') format('woff'),url('webfonts/avenirltstd-heavy.ttf') format('truetype');}
 
  
@font-face {font-family: 'Avenir-Medium';src: url('webfonts/avenirltstd-medium.eot');src: url('webfonts/avenirltstd-medium.eot?#iefix') format('embedded-opentype'),url('webfonts/avenirltstd-medium.woff') format('woff'),url('webfonts/avenirltstd-medium.ttf') format('truetype');}
